06_XSD/01_XSD_Mensaje.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persona">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="edad" type="xs:integer" />
                <xs:element name="peso" type="xs:double" />
                <xs:element name="casado" type="xs:boolean" />
                <xs:element name="fecha_nacimiento" type="xs:date" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>