04_DTD/01_DTD_Pelicula.dtd

<!ELEMENT pelicula (titulo,fecha,actores,director)>
<!ATTLIST pelicula id CDATA #REQUIRED>
<!ATTLIST pelicula categoria CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT actores (actor+)>

<!ELEMENT actor (nombre,edad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT edad (#PCDATA)>

<!ELEMENT director (#PCDATA)>
